<a href="https://colab.research.google.com/github/anthonyverma19/deep-learning-challenge/blob/main/Starter_Code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [ ]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=["EIN", "NAME"], axis=1)
application_df.sample(10)

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
28016,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
9077,T3,CompanySponsored,C2000,Preservation,Trust,1,0,N,5000,0
1518,T3,Independent,C1200,Preservation,Trust,1,0,N,5000,0
26908,T3,Independent,C1200,Preservation,Trust,1,0,N,5000,1
24076,T3,CompanySponsored,C1200,ProductDev,Trust,1,0,N,5000,1
2228,T3,Independent,C7000,Preservation,Trust,1,25000-99999,N,25446,1
4904,T3,CompanySponsored,C2000,Preservation,Trust,1,0,N,5000,0
14103,T3,Independent,C7000,Preservation,Trust,1,100000-499999,N,520896,1
7196,T3,Independent,C1000,Preservation,Trust,1,0,N,5000,1
26211,T3,Independent,C2000,Preservation,Trust,1,10000-24999,N,25361,0

In [ ]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [ ]:
# Look at APPLICATION_TYPE value counts for binning
application_counts = application_df['APPLICATION_TYPE'].value_counts()
application_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_counts[application_counts < 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [ ]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_1 = classification_counts.loc[classification_counts > 1]
class_1

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_counts[classification_counts < 1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [ ]:
# Convert categorical data to numeric with `pd.get_dummies`
app_dummies = pd.get_dummies(application_df)

In [ ]:
# Split our preprocessed data into our features and target arrays
y = app_dummies["IS_SUCCESSFUL"]
X = app_dummies.drop(["IS_SUCCESSFUL"], axis=1)
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [ ]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [ ]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = X_train_scaled.shape[1]


# X shape/ input feature/columns is 43 * 2/3 is 86-129 so chose 80 for the first hidden node
hidden_node1 = 80
hidden_node2 = 30


nn_model_1 = tf.keras.models.Sequential()

# First hidden layer
nn_model_1.add(tf.keras.layers.Dense(units=hidden_node1, activation='relu', input_dim=input_features))
# Second hidden layer
nn_model_1.add(tf.keras.layers.Dense(units=hidden_node2, activation='relu'))

# Output layer (output is 1 and sigmoid because it's binary classifier)
nn_model_1.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn_model_1.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 80)                3520

 dense_4 (Dense)             (None, 30)                2430

 dense_5 (Dense)             (None, 1)                 31

=================================================================
Total params: 5,981
Trainable params: 5,981
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Compile the model
nn_model_1.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [ ]:
# Create a callback that saves the model's weights every five epochs
# Import checkpoint dependencies
import os
from tensorflow.keras.callbacks import ModelCheckpoint

# Define checkpoints variables
os.makedirs('checkpoints/', exist_ok=True)
checkpoint_path= 'checkpoints/weights.{epoch}.hdf5'

# Create callback
cp_callback = ModelCheckpoint(filepath=checkpoint_path,
                              verbose=1,
                              save_weights_only=True,
                              save_freq='epoch',
                              period=5)

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.

In [ ]:
# Train the model
fit_model_1 = nn_model_1.fit(X_train_scaled, y_train, epochs=50,callbacks=[cp_callback])

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5723 - accuracy: 0.7208
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5576 - accuracy: 0.7278
Epoch 3/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5551 - accuracy: 0.7291
Epoch 4/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5527 - accuracy: 0.7294
Epoch 5/50
777/804 [===========================>..] - ETA: 0s - loss: 0.5498 - accuracy: 0.7322
Epoch 5: saving model to checkpoints/weights.5.hdf5
804/804 [==============================] - 3s 3ms/step - loss: 0.5514 - accuracy: 0.7308
Epoch 6/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5507 - accuracy: 0.7318
Epoch 7/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5498 - accuracy: 0.7304
Epoch 8/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5497 - accuracy: 0.7310
Epoch 9/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5487 - accuracy: 0.7316
Epoch 10/50
796/804 [============================>.] - ETA: 0s - loss: 0.5483 - accuracy: 0.7320
Epoch 10: saving model to checkpoints/weights.10.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5484 - accuracy: 0.7319
Epoch 11/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5474 - accuracy: 0.7338
Epoch 12/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5473 - accuracy: 0.7325
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5474 - accuracy: 0.7334
Epoch 14/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5467 - accuracy: 0.7339
Epoch 15/50
783/804 [============================>.] - ETA: 0s - loss: 0.5458 - accuracy: 0.7334
Epoch 15: saving model to checkpoints/weights.15.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5466 - accuracy: 0.7330
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5457 - accuracy: 0.7346
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5462 - accuracy: 0.7337
Epoch 18/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5451 - accuracy: 0.7344
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5451 - accuracy: 0.7339
Epoch 20/50
802/804 [============================>.] - ETA: 0s - loss: 0.5445 - accuracy: 0.7355
Epoch 20: saving model to checkpoints/weights.20.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5446 - accuracy: 0.7356
Epoch 21/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5452 - accuracy: 0.7347
Epoch 22/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5441 - accuracy: 0.7348
Epoch 23/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5442 - accuracy: 0.7364
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5440 - accuracy: 0.7357
Epoch 25/50
800/804 [============================>.] - ETA: 0s - loss: 0.5438 - accuracy: 0.7351
Epoch 25: saving model to checkpoints/weights.25.hdf5
804/804 [==============================] - 2s 3ms/step - loss: 0.5436 - accuracy: 0.7353
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5436 - accuracy: 0.7363
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5432 - accuracy: 0.7368
Epoch 28/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5429 - accuracy: 0.7358
Epoch 29/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5429 - accuracy: 0.7361
Epoch 30/50
793/804 [============================>.] - ETA: 0s - loss: 0.5422 - accuracy: 0.7372
Epoch 30: saving model to checkpoints/weights.30.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5428 - accuracy: 0.7369
Epoch 31/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5427 - accuracy: 0.7366
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5427 - accuracy: 0.7367
Epoch 33/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5423 - accuracy: 0.7359
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5422 - accuracy: 0.7365
Epoch 35/50
783/804 [============================>.] - ETA: 0s - loss: 0.5418 - accuracy: 0.7371
Epoch 35: saving model to checkpoints/weights.35.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5420 - accuracy: 0.7371
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5412 - accuracy: 0.7373
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5420 - accuracy: 0.7375
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5415 - accuracy: 0.7378
Epoch 39/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5413 - accuracy: 0.7377
Epoch 40/50
787/804 [============================>.] - ETA: 0s - loss: 0.5416 - accuracy: 0.7371
Epoch 40: saving model to checkpoints/weights.40.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5409 - accuracy: 0.7377
Epoch 41/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5408 - accuracy: 0.7383
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5411 - accuracy: 0.7379
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5409 - accuracy: 0.7380
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5412 - accuracy: 0.7379
Epoch 45/50
795/804 [============================>.] - ETA: 0s - loss: 0.5400 - accuracy: 0.7386
Epoch 45: saving model to checkpoints/weights.45.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7384
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7391
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5398 - accuracy: 0.7384
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7385
Epoch 49/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5397 - accuracy: 0.7385
Epoch 50/50
790/804 [============================>.] - ETA: 0s - loss: 0.5400 - accuracy: 0.7380
Epoch 50: saving model to checkpoints/weights.50.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5400 - accuracy: 0.7378

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model_1.evaluate(X_test_scaled,y_test,verbose=2)
print(f'Loss: {model_loss}, Accuracy: {model_accuracy}')

268/268 - 0s - loss: 0.5630 - accuracy: 0.7304 - 457ms/epoch - 2ms/step
Loss: 0.562959611415863, Accuracy: 0.7303789854049683

In [ ]:
# Export our model to HDF5 file
nn_model_1.save("/Users/gavintoole/Module_21_deep-learning-challenge/AlphabetSoupCharity_Images/AphabetSoup_Charity")

WARNING:absl:Found untraced functions such as _update_step_xla while saving (showing 1 of 1). These functions will not be directly callable after loading.